header{
  margin-top: 6%;
  position: relative;
overflow: hidden;
  border-style: dashed;
  border-color: aliceblue;

}

#boom1 {
bottom: -60px;  
 left: -5%;
  }
#boom2 {
bottom: -60px;  
left: -5%;
  }
#boom3{
bottom: -60px;
right: -1.5px;

  }   
 #boom4{
bottom: -90px;
right: 2px;
  }
  #boom4{
    bottom: -90px;
    right: 2px;
      }
      #boom5{
        bottom: -60px;
          }
    

#boom1:hover{
opacity: 1;
}
#boom2:hover{
opacity: 1;
}
#boom3:hover{
opacity: 1;
}
#boom4:hover{
opacity: 1;
}
#boom5:hover{
opacity: 1;
}
#boom1, #boom2, #boom3, #boom4, #boom5{
position: absolute;
opacity: 0.0;
transition: 0.3;
}









body {
    font-weight: 100;
    font-style: normal;    line-height: 1.5em;
    color: #373737;
    width: 900px;
    margin:auto;
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui, sans-serif;
    background-color: #1d1d1d;
}

ul {
    list-style-type: none
}



a {
    color: aliceblue;
}

.banner {
 width: 960px;   
 height: 130px;
margin:auto;
}



 
 main {
    box-sizing: border-box;
    min-height: calc( 100vh - 400px);
    padding: 0px;
    max-width: 960px;
    margin: auto;
    display: flex;
    gap: 80px;
 }

 main article {
    flex:1;
 }



h2 {
    font-family: museo-sans,sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 16%;  
    color: aliceblue;
}


a:link {
    background-color: transparent;
    text-decoration: none;
}

hr {
    width: 50%;
  }

section {
    display: table;
    clear: both;
    height: 350px;
    width: 400px;
    margin-top: 2%;
border-style: dashed;
border-color: aliceblue;

  }


 

  
      
      h1 {
        position: relative;
        font-size: 7rem;
        font-family: museo-sans,sans-serif;
        font-weight: 300;
        font-style: normal;
        color: aliceblue;
        font-weight: 900;
        margin-bottom: 100px;
        text-align: center;
      }

      
  
footer{
    flex: auto;
    justify-content: space-between;
}

.footer1{
margin: auto;
text-align: left;
color: #ffffff;
}
.footer2{
    text-align:right;
    margin-left: 800px;
 }