

body {
    font-weight: 100;
    font-style: normal;    line-height: 1.5em;
    color: #000000;
    width: 900px;
    margin:auto;
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui, sans-serif;

}

ul {
    list-style-type: none
}


 ul.banner:hover {
    color: #6b6b6b;
  }
a {
    color: aliceblue;
}

.banner {
 width: 960px;   
 height: 130px;
margin:auto;
}




section {
    display: table;
    clear: both;
    height: 350px;
    width: 400px;
    margin-top: 2%;
}
 
 main {
    box-sizing: border-box;
    min-height: calc( 100vh - 400px);
    padding: 0px;
    max-width: 960px;
    margin: auto;
    display: flex;
    gap: 80px;
 }

 main article {
    flex:1;
 }



h2 {
    font-family: museo-sans,sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 16%;  
    color: aliceblue;
}


a:link {
    background-color: transparent;
    text-decoration: none;
}

hr {
    width: 50%;
  }



.hvrunderline {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvrunderline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ffffff;
    height: 1px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .hvrunderline:hover:before, .hvrunderline:focus:before, .hvrunderline:active:before {
    right: 0;
  }

  body {
	background: linear-gradient(-45deg, #1d1d1d, #3d3d3d, #a1a1a1, #d9d9d9);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}






section {
    display: table;
    clear: both;
    height: 350px;
    width: 400px;
    margin-top: 2%;
border-style: dashed;
border-color: aliceblue;

  }

  .scroll{
      box-sizing: border-box;
      margin: 1rem auto;
      width:auto;
      overflow: hidden;
    }
    .scrollContent{
      animation: scrolling 20s infinite linear;
      color: #ffffff;
      font-weight: bold;
      font-size: 40px ;
      transform: translateX(100%);
    }


    @keyframes scrolling{
      from{transform: translateX(100%);}
      to{transform: translateX(-100%);}
    }
     

  
      
      h1 {
        position: relative;
        font-size: 7rem;
        font-family: museo-sans,sans-serif;
        font-weight: 300;
        font-style: normal;
        color: aliceblue;
        font-weight: 900;
        margin-bottom: 100px;
        text-align: center;
      }
      h1::before {  
        transform: scaleX(0);
        transform-origin: bottom right;
      }
      
      h1:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      
      h1::before {
        content: " ";
        display: block;
        position:fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: rgb(0, 0, 0);
        z-index: -1;
        transition: transform .3s ease;
      }
   
      
    
 @media (orientation: landscape) {
        body {
          grid-auto-flow: column;
        }
 }
      
footer{
    flex: auto;
    justify-content: space-between;
}

.footer1{
margin: auto;
text-align: left;
color: #ffffff;
}
.footer2{
    text-align:right;
    margin-left: 800px;
 }