/* Add a black background color to the top navigation */
.topnavigation {
    overflow: hidden;
    word-spacing: 7px;
    font-family: "semplicitapro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:small;
}
  
.topnavigation a {
    margin-left: 15px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;

}

.topnavigation a:hover {
    color: rgb(84, 120, 236);
}
  
 

body{
    background-color: rgb(38, 38, 38);
    color: rgb(244, 244, 244);
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    
}


h1{
    margin-left: 15px;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

}

h2{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(171, 187, 246);

}

h3{
    margin-left: 15px;
    word-spacing: 10px;
    font-family: "semplicitapro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:small;
}

p {
    font-family: "semplicitapro", sans-serif;
font-weight: 400;
font-style: normal;
line-height: 28px;
}

date{
    font-family: "roboto", sans-serif;
    font-weight: 200;
    font-style: italic;
}


.column1 {
  
    float: right;
    width: 50%;
    padding-right: 4%;
  }

  .column2 {
  
    float: left;
    width: 50%;
    padding-right: 4%;
  }