
body{
    background-color: rgb(244, 224, 112);
    color: rgb(255, 255, 255);
    font-family: "espiritu", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    display: flex;
    justify-content: space-around;
    width: auto;
    }

h1{
    font-family: "espiritu-expanded", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    }   

h2{
    font-family: "espiritu-expanded", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

h3{
    margin-right: 15px;
    word-spacing: 10px;
    font-family: "semplicitapro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:small;
    }

.column1 {
    float: right;
    width: 50%;
    padding-left: 7%;
    padding-top: 50px;
    }

.column2 {
    width: 40%;
    padding-right: 13%;

  }

  .container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0); 
  }

  .centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .box2 {
    height: 350px;
    width: 70%;
    background-color: rgb(104, 104, 104);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
  }
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 10px #000000;
  }

  input{
    border-radius: 20px;
    width: 80PX;
    height: 20px;
    border: solid;
    background-color: rgb(244, 224, 112);
  }

  .button{
    background-color: rgb(113, 191, 233);
  }

  .logolayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
  }

  .page2 {
    display: none;
    background-color: rgb(113, 191, 233);
    border-radius: 15px;
  }